.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25%;
}

#equals {
    grid-column: 2/4;
    background-color: lightblue;
}

.operator {
    background-color: orange;
}

.numbers {
    background-color: pink;
}

#ac {
    background-color: red;
}