.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25%;
}

.operator {
    background-color: orange;
}

.numbers {
    background-color: pink;
}

#ac {
    background-color: red;
}

#equals {
    grid-column: 2/4;
    background-color: lightblue;
}

#output {
    grid-column: 1/5;
    background-color: rgb(61, 45, 45);
    color: white;
    padding-left: 1em;
    padding-bottom: 3em;
}